* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-weight: 500;
}

body {
  margin: 0;
  background: #222437;
  font-weight: 800;
  font-size: 18px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #c2cdd6;
  line-height: 1.5;
}

header {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 30px 10%;
  background-color: #c2cdd6;
}

.logo {
  margin-right: auto;
  color: #222437;
}

.nav__links {
  list-style: none;
  display: flex;
}

.nav__links a,
.cta,
.overlay__content a {
  color: #222437;
  text-decoration: none;
}

.nav__links li {
  padding: 0px 20px;
}

.nav__links li a {
  transition: all 0.3s ease 0s;
}

.nav__links li a:hover {
  color: #0088a9;
}

.cta {
  margin-left: 20px;
  padding: 9px 25px;
  background-color: rgba(0, 136, 169, 1);
  border: none;
  border-radius: 50px;
  cursor: pointer;
  transition: all 0.3s ease 0s;
}

.cta:hover,
.button:hover,
#search-btn:hover,
#topbtn:hover {
  background-color: rgba(0, 136, 169, 0.8);
}

main {
  min-width: 240px;
  max-width: 600px;
  margin-inline: auto;
}

p {
  padding: 0 1em;
  max-width: 600px;
  margin: 1em auto;
  font-size: 17px;
  text-align: center;
  line-height: 1.5;
  margin-bottom: 1.5em;
}

p a,
figcaption a {
  color: #0088a9;
}

.searchclass {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
}

#search-box {
  width: 400px;
  height: 40px;
  border: none;
  border-radius: 50px;
  padding: 10px;
  background-color: #e9e9e9;
  color: #222437;
  font-size: 1.2rem;
  font-weight: 300;
  text-align: center;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}

#search-btn {
  background-color: #0088a9;
  color: #fff;
  border: none;
  border-radius: 50px;
  padding: 10px 20px;
  font-size: 1.2rem;
  font-weight: 400;
  cursor: pointer;
  transition: background-color 0.2s ease;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  margin-left: 10px;
}

.result-item {
  background-color: #c2cdd6;
  border-radius: 10px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
  margin-top: 50px;
}

.result-item img {
  display: block;
  margin: 0 auto;
  box-shadow: none;
  transition: none;
  border-radius: 10px;
  max-width: 100%;
}

.result-title {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.result-item h2 {
  margin: 0;
  font-size: 1.6rem;
  font-weight: 700;
  text-align: center;
  color: #222437;
}

.result-item p {
  color: #222437;
}

#loading-spinner {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 5px solid #f3f3f3;
  border-top: 5px solid #3498db;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  animation: spin 1s linear infinite;
  display: none;
  text-align: center;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@media screen and (max-width: 450px) {
  .nav__links {
    display: none;
  }

  #mobile__menu {
    height: 100%;
    width: 100%;
    position: fixed;
    z-index: 100;
    top: 0;
    left: 0;
    background-color: #24252a;
    overflow-y: auto;
    transition: all 0.5s ease-in-out;
    transform: translateX(-100%);
  }

  #mobile__menu.show {
    transform: translateX(0%);
  }

  #mobile__menu .overlay__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
  }

  #mobile__menu ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  #mobile__menu ul li {
    margin-bottom: 1rem;
  }

  #mobile__menu ul li a {
    font-size: 1.5rem;
    color: #fff;
    text-decoration: none;
  }

  #mobile__menu .close {
    position: absolute;
    top: 1rem;
    right: 1rem;
    font-size: 2rem;
    color: #fff;
    cursor: pointer;
  }

  .button-container {
    display: block;
  }
}
