

header {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 30px 10%;
  background-color: #c2cdd6;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-weight: 500;
}
.logo {
  margin-right: auto;
  color: #222437;
}

.nav__links {
  list-style: none;
  display: flex;
}

.nav__links a, .cta, .overlay__content a {
  color: #222437;
  text-decoration: none;
}

.nav__links li {
  padding: 0px 20px;
}

.nav__links li a {
  transition: all 0.3s ease 0s;
}

.nav__links li a:hover {
  color: #0088a9;
}

.cta {
  margin-left: 20px;
  padding: 9px 25px;
  background-color: rgba(0, 136, 169, 1);
  border: none;
  border-radius: 50px;
  cursor: pointer;
  transition: all 0.3s ease 0s;
}

.cta:hover, .button:hover,  #search-btn:hover, #topbtn:hover  {
  background-color: rgba(0, 136, 169, 0.8);
}

body {
  margin: 0;
  background: #222437;
  font-weight: 800;
  font-size: 18px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #c2cdd6;
  line-height: 1.5;
}

p {
  padding: 0 1em;
  max-width: 600px;
  margin: 1em auto;
  font-size: 17px;
  text-align: center;
  line-height: 1.5;
  margin-bottom: 1.5em;
}

p a, figcaption a {
  color: #0088a9;
}

main {
  min-width: 240px;
  max-width: 600px;
  margin-inline: auto;
}

h1 {
  font-size: 36px;
  font-family: Georgia, serif;
  font-weight: bold;
  
}


h2 {
  align-items: center;
  font-weight: bold;
  font-size: small;
  padding: 0.2em 1em 0.5em; 
  flex-direction: column;
  font-size: 28px;
  margin: 0 auto;
  font-family: Georgia, serif;
  color: #fff;
 
}

h3{
  font-size: 22px;
  font-family: Georgia, serif;
  font-weight: bold;
  color: #fff;
}


section {
  font-size: 30px;
}

.searchclass {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
}

#search-box {
  width: 400px;
  height: 40px;
  border: none;
  border-radius: 50px;
  padding: 10px;
  background-color: #e9e9e9;
  color: #222437;
  font-size: 1.2rem;
  font-weight: 300;
  text-align: center;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}

#search-btn {
  background-color: #0088a9;
  color: #fff;
  border: none;
  border-radius: 50px;
  padding: 10px 20px;
  font-size: 1.2rem;
  font-weight: 400;
  cursor: pointer;
  transition: background-color 0.2s ease;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  margin-left: 10px;
  
}

.result-item {
  background-color: #c2cdd6;
  border-radius: 10px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
  margin-top: 50px;
}

.result-item img {
  display: block;
  margin: 0 auto;
  box-shadow: none;
  transition: none;
  border-radius: 10px;
  max-width: 100%;
}

.result-title {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.result-item h2 {
  margin: 0;
  font-size: 1.6rem;
  font-weight: 700;
  text-align: center;
  color: #222437;
}

.result-item p {
  color: #222437;
}

.gallery {
  display: flex;
  overflow: auto;
  text-align: center;
  max-width: 1300px;
  margin-bottom: 5em ;
}


img {
  border: 0.5px solid #ddd;
  border-radius: 4px;
  padding: 1px;
  max-width: 100px;
  height: auto;

}


#ayah {
  text-align: center;
  border: 0.5px solid #ddd;
  border-radius: 4px;
  max-width: 250px;
}

figcaption {
  font-size: 10px;
}

#figcaptionAyah {
  font-size: 15px;
  text-align: center;
}

img:hover {
  box-shadow: 0 0 2.5px 1.5px #000000;
  transition: all ease-in-out 250ms;
  transition-property: width;
  transition-duration: 2s;
  transition-timing-function: linear;
  transition-delay: 1s;
}






.button, #topbtn, p a {
  display: block;
  margin: 0 auto 10px;
  padding: 6px 12px;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  background-color: #0088a9;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  color: #222437;
}

#topbtn{
  margin-top: 5px;
}


#SelectionButtons {
  display: block;
  margin-bottom: 10px;
}


/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track - border */
::-webkit-scrollbar-thumb {
  background: linear-gradient(to bottom, #c2cdd6, #8f98a3);
  background-color: #c2cdd6;
  border: 2px solid #8f98a3;
  border-radius: 5px;
  background-image: url('path/to/image.png');
  background-repeat: no-repeat;
  background-position: center;
}
::-webkit-scrollbar-thumb:hover {
  background: #444;
  border-color: #c2cdd6;
}

#menuToggler {
  position: fixed;
  top: 0.5rem;
  right: 0.5rem;
  background-color: rgba(0,0,0,0.5);
  color: white;
  font-size: 3em;
  text-align: right;
  line-height: 1em;
  padding: 0 1rem;
  z-index: 1;
}




  

  /* Mobile Nav */

.menu {
  display: none;
}

.overlay {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  background-color: #24252a;
  overflow-x: hidden;
  transition: all 0.5s ease 0s;
}

.overlay--active {
  width: 100%;
}

.overlay__content {
  display: flex;
  height: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.overlay a {
  padding: 15px;
  font-size: 36px;
  display: block;
  transition: all 0.3s ease 0s;
}

.overlay a:hover, .overlay a:focus {
  color: #0088a9;
}
.overlay .close {
  position: absolute;
  top: 20px;
  right: 45px;
  font-size: 60px;
  color: #edf0f1;
  cursor: pointer;
}
/* Styles for Author Quotes section */

#author-quotes {
  margin-top: 2rem;
  border-top: 1px solid #ccc;
  padding-top: 2rem;
  text-align: center;
}

#author-quotes h2 {
  font-size: 3rem;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  margin-bottom: 2rem;
  color: #0088a9;
}

blockquote {
  font-style: italic;
  margin-bottom: 3rem;
  border-left: 4px solid #0088a9;
  padding-left: 1rem;
}

blockquote p {
  font-size: 2rem;
  line-height: 2.5rem;
  margin: 0;
  color: #edf0f1;
}

cite {
  display: block;
  text-align: right;
  font-size: 1.2rem;
  margin-top: 1rem;
  color: #757575;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
}
#loading-spinner {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 5px solid #f3f3f3;
  border-top: 5px solid #3498db;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  animation: spin 1s linear infinite;
  display: none;
  text-align: center;
}

.button-container {
  display: flex;
  flex-direction: row;
  padding-bottom: 10em;
  padding-top: 1em;
  
}

.column {
  display: flex;
  flex-direction: column;
  margin-right: 20px;
}
section a {
  margin-top: 2em;
}

.button, section a , #topbtn{
  margin-bottom: 10px;
  width: 290px ;
  border: none;
  border-radius: 50px;
  font-size: 1.2rem;
  font-weight: 400;

}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}



@media screen and (max-width: 450px) {
  .nav__links {
    display: none;
  }

  #mobile__menu {
    height: 100%;
    width: 100%;
    position: fixed;
    z-index: 100;
    top: 0;
    left: 0;
    background-color: #24252a;
    overflow-y: auto;
    transition: all 0.5s ease-in-out;
    transform: translateX(-100%);
  }

  #mobile__menu.show {
    transform: translateX(0%);
  }

  #mobile__menu .overlay__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
  }

  #mobile__menu ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  #mobile__menu ul li {
    margin-bottom: 1rem;
  }

  #mobile__menu ul li a {
    font-size: 1.5rem;
    color: #fff;
    text-decoration: none;
  }

  #mobile__menu .close {
    position: absolute;
    top: 1rem;
    right: 1rem;
    font-size: 2rem;
    color: #fff;
    cursor: pointer;
  }

  .button-container{
    display: block;
  }
}

@media only screen and (max-width: 800px) {
  .nav__links, .cta {
    display: none;
  }
  .menu {
    display: initial;
  }
  .overlay:hover .overlay__content{
    display: block;
  }

  .overlay__content a{
    display: block;
    color: #24252a;
  }
  .overlay__content a{
    color: #fff;
    background-color: #00A4BD;
  }
  .button-container{
    display: block;
  }

}



